* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

body {
    display: flex;
    height: 100vh;
    font-size: 13px;
    font-family: arial,sans-serif;
    color: #202124;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    /*border: 1px solid red;*/
    height: 60px;
}

.navbar {
    height: 100%;
    width: 100%;
    padding: 10px 20px;
}

.navbar ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
}

.navbar ul li {
    margin-left: 15px;
}

.header-svg {
    cursor: pointer;
}

.header-signIn {
    cursor: pointer;
}

.header-svg {
    height: 24px;
    width: 24px;
    fill: #5f6368;
}

.header-signIn {
    order: 1;
    top: 50%;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    width: 96px;
    color:white;
    border-radius: 4px;
    background-color: #1A73E8;
    border: 1px solid transparent;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.25px;
}

.c-shadow {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.header-signIn:hover {
    background-color: #1555a8;
    box-shadow:1px 3px 4px 1px rgba(0,0,0,0.1);
}

.c-shadow:hover {
    background-color: rgba(0,0,0,0.1);
}

/*Section*/

section {
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

section .google-img{
    display: flex;
    max-height: 92px;
    width: 272px;
    align-items: center;
    margin-bottom: 20px;
}

section .google {
    display: flex;
    margin-top:auto;
    width: 100%;
    height: auto;
}

section .searcher{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

section .search-bar {
    width: 582px;
    height: 44px;
    display: flex;
    align-items: center;
    border: 1px solid #dfe1e5;
    padding-left: 15px;
    border-radius: 30px;
}

section .search-bar:hover {
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.1);
}

/*.search-icon path {
    height: 14,58px; 
    width: 14.58px;
}*/

section .search-icon {
    height: 44px;
    width: 33px;
    fill: #9aa0a6;
    margin-right: -5px;
    padding-right: 13px;
    padding-top: 10px;
}

section .vs-icon {
    height: 44px;
    width: 40px;

    padding-top: 10px;
}

section .vs-icon:hover {
    cursor: pointer;
}

section .keyboard {
    width: 40px;
    height: 44px;
    padding: 0px 4px;
    padding-top: 15px;
}

section .keyboard:hover {
    cursor: pointer;
}

form {
    flex-grow: 1;
}

section .search-input {
    width: 100%;
    position: relative;
    height: 34px;
    border: none;
    outline: none;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    height: 40px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.buttons button:hover {
    border: 1px solid lightgray;
}

/*Footer*/

footer {
    height: 125px;
    align-items: flex-end;
    background: #f2f2f2;
    font-size: 14px;
    color: #70757a;
}

footer .country {
    height: 50%;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    font-weight: none;
}

.country h4 {
    font-size: 15px;
    font-weight: 100;
}

.lower-footer {
    height: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lower-footer a {
    font-size: 14px;
    color: #70757a;
}

.lower-footer a:hover {
    text-decoration: underline;
}

.link-1 {
    display: flex;
}

.link-1 a {
    padding: 15px;
}

.left-link {
    margin-left: 20px;
}

.link-2 {
    display: flex;
}

.lower-footer .link-2 {
    justify-content: center;
    align-items: center
}

.link-2 img {
    height: 14px;
    width: 12.25px;
    margin-right: 6px;
}

.link-2 a {
    font-size: 14px;
}

.link-3 {
    display: flex;
}

.link-3 a {
    padding: 15px;
}

.right-link {
    margin-right: 20px;
}